<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <link rel="shortcut icon" type='image/x-icon' href="/static/favicon.ico"/>
  <meta charset="utf-8" />
  <title>Shorturl</title>
  <link rel="stylesheet" type="text/css" href="{{ static_url('app.min.css') }}"/>
</head>
<body env="{{ env }}" username="{{ current_user['name'] if current_user else '' }}" userid="{{ current_user['id'] if current_user else '' }}" version="{{ version }}">
<div id="app-shorturl"></div>
<script src="{{ static_url('app.min.js') }}"></script>
</body>
</html>

